[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
presto-python-client = "*"
certifi = "*"
codetiming = "*"

[dev-packages]
isort = "*"
black = "*"

[requires]
python_version = "3.9"
