[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
presto-python-client = "*"
certifi = "*"
codetiming = "*"
humanize = "*"
click = "*"

[dev-packages]
isort = "*"
black = "*"
pytest = "*"
pytest-integration = "*"

[requires]
python_version = "3.9"
